<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pagetitle %>
    </title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <script defer src="/js/index.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">
    <!-- Preloader -->
    <div id="loading" class="fixed inset-0 flex items-center justify-center bg-white z-50">
        <div class="w-16 h-16 border-4 border-blue-500 border-t-transparent rounded-full animate-spin"></div>
    </div>

    <!-- Main Content -->
    <header class="bg-blue-600 shadow-lg fixed w-full top-0 left-0 z-50">
        <nav class="container mx-auto flex justify-between items-center py-4 px-6">
            <div class="text-white text-2xl font-bold">
                <a href="/" class="hover:text-gray-300">
                    <%= username ? username : 'Pharmacy' %>
                </a>
            </div>
            <ul class="flex space-x-6">
                <li>
                    <a href="/" class="text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition duration-300">
                        Home
                    </a>
                </li>
                <% if (profile === 'customer') { %><li>
                    <a href="/customer/customerDashboard" class="text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition duration-300">
                         Customer 
                    </a>
                </li><% } %>
                <% if (profile === 'admin') { %><li>
                    <a href="/admin/adminDashboard" class="text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition duration-300">
                         Admin 
                    </a>
                </li><% } %>
                <li>
                    <% if (!username) { %>
                        <a href="/login" class="text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition duration-300">
                            Login
                        </a>
                    <% } else { %>
                        <a href="/logout" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">
                            Logout
                        </a>
                    <% } %>
                </li>
            </ul>
        </nav>
    </header>