
    <%- include('includes/header') %>
    <!-- <h1>Add Product</h1>
    <form action="/admin/login" method="POST">
        <input type="text" name="title" placeholder="Product Title">
        <button type="submit">Submit</button>
    </form> -->
    <%- include('includes/footer') %>
