*{
    margin: 0;
    padding: 0;
    box-shadow: none;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.faq-answer.active {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}